package main

import (
	"{{.PluginGithubUrl}}/{{.PluginAlias}}"
	"github.com/turbot/steampipe-plugin-sdk/v5/plugin"
)

var pluginServer = plugin.Server(&plugin.ServeOpts{PluginFunc: {{.PluginAlias}}.Plugin})
var pluginAlias = "{{.PluginAlias}}"

func init() {
	register()
}

func main() {
	// DO NOT USE
}
