// PROTECTED :: DO NOT COMMIT

package main

import (
	"github.com/turbot/steampipe-plugin-sdk/v5/plugin"

  // we have seen some plugins where we need to alias it for it to be importable
  // e.g: guardrails
	pl "{{.PluginGithubUrl}}/{{.Plugin}}"
)

var pluginServer = plugin.Server(&plugin.ServeOpts{PluginFunc: pl.Plugin})
var pluginAlias = "{{.Plugin}}"

func init() {
	setupLogger(pluginAlias)
	register()
}

func main() {
	// DO NOT USE
  // this code base is meant to be compiled as a dynamically linked library
  // the main function only exists to satisfy the go compiler
}
